{% extends 'events/base_header_and_footer.html' %}

{% block content %}

    <form action="{% url 'login_user' %}" id="login-form" method="POST">
        {% csrf_token %}
        <h1>Login</h1>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <br>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
        </div>
        <button type="submit" name="submit-btn" class="btn btn-primary">Login</button>
    </form>

{% endblock %}